* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: #568259 !important;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.navbar a {
  color: ivory !important;
}

.navbar-brand {
  font-family: "Fondamento";
}

.navbar-nav {
  margin-left: auto;
  text-align: right;
}

.nav-link:hover {
  border-bottom: 2px solid ivory;
}

.dropdown-menu {
  background-color: #003300;
}

.dropdown-item:hover {
  color: black !important;
}

.active {
  border-bottom: 2px solid ivory;
}

.hero-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

#hero {
  width: 100%;
  height: 110vh;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("img/traveler.jpg") no-repeat center / cover;
  color: ivory;
}

#hero,
footer {
  font-size: 18px;
}

.content {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.info h2 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.info p {
  font-size: 1.2rem;
  max-width: 60%;
  margin-bottom: 2rem;
}

.hero-links {
  width: 75%;
  display: flex;
  justify-content: space-around;
}

.hero-links a {
  text-decoration: none;
  text-align: center;
}

.caption {
  color: ivory;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 10px;
  }

  .hero-img {
    margin: 0.5rem;
  }
}

footer {
  background-color: #568259;
  color: ivory;
  padding: 15px;
}

footer a {
  color: ivory;
}
