* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: #ffd9b3 !important;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  font-family: "Fondamento";
}

.navbar-nav {
  margin-left: auto;
}

header {
  background-color: rgba(204, 245, 172, 0.7);
}

.banner .col-md-6 {
  margin-top: 50px !important;
  padding: 25px;
}

.banner img {
  max-width: 300px;
  height: auto;
}
